/* section banner */

.banner {
  padding: 200px 0px;
  background-color: $dark-background;
  background-image: $banner-gradient, url(../images/bg-our-office.jpg);
  background-size: cover;

  .banner-center {
    text-align: center;
  }
}

/* section our advantages */
.flex-advantages {
  width: 270px;
}

.advantages-div {
  display: flex;
  background-color: $light-background;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;

  .advantages-svg {
    width: 70px;
    height: 70px;
  }
}

/* section what we do */
.section-whatwedo {
  padding-bottom: 94px;

  .whatwedo-list {
    position: relative;

    .whatwedo-name-position {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}

/* section our team */
.ourteam {
  background-color: $light-background;
}

.ourteam-back,
.ourteam-back:visited {
  background-color: $clean-color;
  width: 270px;
  box-shadow: $ourteam-shadow;
  border-radius: 0px 0px 4px 4px;
  cursor: pointer;

  transition: filter $time-duration $timing-function;

  &:hover,
  &:focus {
    filter: $drop-shadow;
  }
}
