.btn {
  color: $clean-color;
  background-color: $accent-color;
  font-family: $main-font;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
}

// Banner button
.order {
  display: inline-block;
  padding: 10px 32px;
  margin-top: 30px;
  box-shadow: $drop-shadow;
}

// footer form button
.footer-form-button {
  display: flex;
  border: none;
  outline: none;
  padding: 10px 32px;
  box-shadow: $footer-shadow-button;
  cursor: pointer;
  align-items: center;
}
/* modal form button */
.button-modal {
  display: flex;
  border: none;
  outline: none;
  padding: 10px 55px;
  box-shadow: $footer-shadow-button;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
}

/* portfolio buttons  */
.button {
  color: $main-color;
  background-color: $light-background;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  margin-bottom: 50px;
  cursor: pointer;
  outline: none;

  transition: color $time-duration $timing-function,
    background-color $time-duration $timing-function,
    filter $time-duration $timing-function;

  &:hover,
  &:focus {
    color: $clean-color;
    background-color: $accent-color;
    filter: $drop-shadow;
  }
}

.flex-button {
  display: flex;
  justify-content: center;

  .space-button:not(:last-child) {
    margin-right: 8px;
  }
}
