/* footer */
.footer {
  background-color: $dark-background;
  padding: 60px 0px;

  .link {
    color: $clean-color;
  }

  .footer-flex {
    display: flex;
  }

  .footer-margin {
    margin-left: 70px;
  }

  .footer-p {
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $clean-color;
    margin-bottom: 20px;
    margin-top: 12px;
  }
}

.address {
  color: $clean-color;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 231px;
  margin-top: 20px;

  .link,
  .link:visited {
    color: $footer-link;
    display: inline-block;
    margin-top: 9px;
  }
}

.footer-space-icon {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

/* Footer form */
.footer-form-wrapper {
  margin-left: 93px;

  .footer-form {
    display: flex;
  }

  .footer-input {
    border: 1px solid $footer-border-input;
    border-radius: 4px;
    height: 50px;
    width: 358px;
    margin-right: 12px;
    outline: none;
    background-color: transparent;
    padding: 15px 16px;
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $footer-link;
  }

  .icon-footer-send-form {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
}
