/* About all document */
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  padding-inline-start: 0px;
}

body {
  background-color: $clean-color;
  color: $main-color;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
}

/* ширина общего контента */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* most sections */
.section-padding {
  padding: 94px 15px;
}

// расположение
.flex {
  display: flex;
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

// оформление
.list {
  list-style: none;
  margin: 0px;
}

.desc {
  color: $second-color;
}

.link {
  text-decoration: none;
}
/* заголовки и стили текста */
.heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px 0px 50px 0px;
}
// баннер
.tagline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $clean-color;
  width: 696px;
  margin: 0 auto;
}
// чем мы занимаемся
.whatwedo-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-align: center;
  text-transform: uppercase;
  color: $clean-color;
  background: $whatwedo-overlay;
  padding-top: 27px;
  padding-bottom: 27px;
}
// преимущества
// абзац
.advantages .desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0px;
}
//заголовки преимуществ
.advantages-about {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
}
//секци Наша Команда
// имя фамилия
.heading-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 30px 0px 10px 0px;
}
// должность
.desc {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px 0px 16px 0px;
}
// галерея
.gallery {
  .heading-gallery {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding: 20px 24px 4px 24px;
    margin: 0px;
  }

  .desc {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    padding: 0px 24px;
    padding-bottom: 20px;
    margin: 0px;
  }
}
